.el-form-item.is-error .cc-input__inner{
  border-color: #ff4949;
}
.ccms-card .el-card__header {
  background: #eef1f6;
  height: 36px;
  padding-top: 6px;
  font-size: 16px;
  color: #444;
}
.ccms-card .btn-group {
  text-align: center;
  margin-top: 15px;
}
.ccms-card .back {
  float: right;
  cursor: pointer;
  color: #108ee9;
  font-size: 14px;
  line-height: 30px;
}
.ccms-form .el-select{
  width: 100%;
}
.ccms-input-dialog .dialog-fade-enter-active,.ccms-input-dialog .v-modal-enter {
  opacity: 1;
  animation: none;
}
.ccms-input-dialog .dialog-fade-leave-active,.ccms-input-dialog .v-modal-leave {
  opacity: 0;
  animation: none;
}
.ccms-input-dialog .custom-icon {
  position: absolute;
  color: #bfcbd9;
  right: 10px;
  top: 10px;
  font-size: 14px;
}
.ccms-input-dialog .dialog-footer {
  display: block;
  text-align: center;
}
.ccms-input-dialog .organization-tree {
  overflow-y: auto;
  height: 55.5vh;
  padding-bottom: 20px;
}
.ccms-table-detail table{
  table-layout: fixed;
}
.ccms-table-detail .table-wrap {
  padding: 20px;
  width: 100%;
  font-size: 14px;
}
.ccms-table-detail .look-table {
  border-collapse: collapse;
}
.ccms-table-detail .kbgColor {
  background: #eef1f6;
  padding: 11px 15px 11px 0;
  height: 50px;
  text-align: right;
  width: 20%;
  line-height: 28px;
}
.ccms-table-detail .vbgColor {
  background: white;
  padding: 11px 0 11px 15px;
  height: 50px;
  word-break: break-all;
  width: 30%;
  line-height: 28px;
}
.ccms-table-detail .look-table table{
  width: 100%;
}
.ccms-table-detail .look-table table tr{
  background:#d5d9e0;
  border:1px solid #d9d9d9;
  height:38px;
}
.ccms-table-detail .look-table table tr:nth-child(1) td {
  border-top: 1px solid #d9d9d9;
}
.ccms-table-detail .look-table table tr td:nth-child(odd){
  background:#ffffff;
  border-left:1px solid #d9d9d9;
  border-right:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;
  height:38px;
}
.ccms-table-detail .look-table table tr td:nth-child(even){
  background:#ffffff;
  border-right:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;
  height:38px;
}
.ccms-table-detail .look-table .msg{
  text-align: center;
  background:#ffffff;
  border: 1px solid #d9d9d9;
}
.ccms-table-detail .lable{
  font-weight: 600;
  color: #333;
  font-size: 14px;
  text-align: right;
  float: left;
  width: 50%;
}
.ccms-table-detail .form-td-wrapper{
  height: 36px;
}
.ccms-table-detail .content{
  float: left;
  text-align: left;
  width: 50%;
  padding-left: 8px;
}
.ccms-table-detail .sub-label{
  font-weight: 400;
}
.ccms-table-detail .form-td-wrapper:after{
  content: ' ';
  clear: both;
  display: table;
  zoom: 1;
}

.ccms-drop-down-tree .el-icon-caret-top{
  transition: transform .3s;
  top: 50%;
  transform: translateY(-50%) rotateZ(180deg);
}
.ccms-drop-down-tree .custom-icon {
  position: absolute;
  color: #bfcbd9;
  right: 10px;
  font-size: 14px;
}

/*隐藏*/
.ccms-drop-down-tree .dn {
  display: none;
}
.dropdown-custom {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}
.dropdown-menu-custom {
  padding-top: 0px;
  padding-bottom: 0px;
}
.ccms-dialog-tree .cancelHighLight .el-tree-node.is-current>.el-tree-node__content{
  background-color:#fff;
}
.ccms-dialog-tree .el-tree-node__expand-icon.is-leaf{
  border-color: transparent;
  cursor: default;
}
.ccms-dialog-tree .el-tree-node__expand-icon {
  border: 1px solid #ddd;
  cursor: pointer;
  width: 0;
  height: 0;
  margin-left: 10px;
  border: 10px solid transparent;
  border-right-width: 0;
  border-left-color: #97a8be;
  border-left-width: 12px;
  /*-ms-transform: rotate(0);*/
  /*transform: rotate(0);*/
  transition: transform .3s ease-in-out;
}
.ccms-dialog-tree .bdClass{
  z-index: 1000;
}
/*el-dialog__wrapper dialog-fade-enter-active dialog-fade-enter-to*/
.ccms-dialog-tree .dialog-fade-enter-active,.custom-dialog-tree .v-modal-enter {
  opacity: 1;
  animation: none;
}
.ccms-dialog-tree .dialog-fade-leave-active,.custom-dialog-tree .v-modal-leave {
  opacity: 0;
  animation: none;
}
.ccms-dialog-tree .custom-icon {
  position: absolute;
  color: #bfcbd9;
  right: 10px;
  top: 10px;
  font-size: 14px;
}
.ccms-dialog-tree .dialog-footer {
  display: block;
  text-align: center;
}
.ccms-table .table .el-table__fixed-right{
  z-index: 1;
}
.ccms-table .operate {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}
.ccms-card-tabs .tab-pane{
  padding-left: 20px;
  padding-right: 20px;
}
.timer-shaft {
  position: relative;
  height: 100px;
  font-size: 12px;
  color: #666;
}
.timer-shaft .line{
  width: 100%;
  position: absolute;
  height: 4px;
  background: #ddd;
  /*border-bottom: 1px solid #999;*/
  /*margin-left: 5%;*/
  /*margin-right: 5%;*/
  top: 50%;
  margin-top: -2px;
}
.timer-shaft .item-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.timer-shaft ul {
  height: 100%;
  padding: 0;
  margin: 0;
}
.timer-shaft ul li{
  /*float: left;*/
  /*list-style: none;*/
}
.timer-shaft .item{
  height: 100%;
  width: 10%;
  position: absolute;
  text-align: center;
}
.timer-shaft .item.select{
  color: #444;
  font-size: 14px;
}
.timer-shaft .item .item-wrap{
  position: absolute;
  width: 22px;
  height: 22px;
  text-align: center;
  left: 50%;
  margin-left: -11px;
  top: 50%;
  margin-top: -11px;
  z-index: 10;
}
.timer-shaft .item .item-wrap:before{
  background: #fff;
}
.timer-shaft .item .item-title{
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.timer-shaft .item .item-time{
  position: absolute;
  text-align: center;
  width: 100%;
}
.timer-shaft .item .item-time.top{
  top: 0;
}
.timer-shaft .item .item-time.bottom{
  bottom: 0;
}
.timer-shaft .item-wrapper{
  position: relative;
  overflow: hidden;
}
.timer-shaft .item .bottom-title{
  margin-top: 70px;
}
.timer-shaft .item .item-circle{
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: #5BAEEE;
  opacity: 0;
  display: block;
  left: 50%;
  margin-left: -11px;
  top: 50%;
  margin-top: -11px;
}

.timer-shaft .item .item-circle2{
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #5BAEEE;
  opacity: 0.6;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -8px;
  display: block;
}
.timer-shaft .item .item-circle3{
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #108EE9;
  top: 50%;
  margin-top: -3px;
  left: 50%;
  margin-left: -3px;
  display: block;
}
.timer-shaft .item .item-circle4{
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  top: 50%;
  opacity: 0.8;
  margin-top: -2px;
  left: 50%;
  margin-left: -2px;
  display: block;
}
.timer-shaft .arrow{
  position: absolute;
  top: 50%;
  margin-top: -11px;
  width: 100%;
}
.timer-shaft .arrow-left{
  color: #9B9B9B;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 11px;
  background: #F0F0F0;
  text-align: center;
  border: 1px solid #ddd;
}
.timer-shaft .arrow-right{
  color: #9B9B9B;
  cursor: pointer;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 11px;
  background: #F0F0F0;
  text-align: center;
  border: 1px solid #ddd;
  float: right;
  margin-right: 10px;
  z-index: 10;
}

.el-select{
  width: 100%;
}
/*对话框*/
.ccms-dialog .el-dialog {
  width: 50%;
}
@charset "UTF-8";
.cc-input, .cc-input__inner {
  width: 100%;
  display: inline-block
}

.cc-input__inner, .cc-textarea__inner {
  box-sizing: border-box;
  background-image: none
}

.cc-input {
  position: relative;
  font-size: 14px
}

.cc-input.is-disabled .cc-input__inner {
  background-color: #eef1f6;
  border-color: #d1dbe5;
  color: #bbb;
  cursor: not-allowed
}

.cc-input.is-disabled .cc-input__inner::-webkit-input-placeholder {
  color: #bfcbd9
}

.cc-input.is-disabled .cc-input__inner::-moz-placeholder {
  color: #bfcbd9
}

.cc-input.is-disabled .cc-input__inner:-ms-input-placeholder {
  color: #bfcbd9
}

.cc-input.is-disabled .cc-input__inner::placeholder {
  color: #bfcbd9
}

.cc-input.is-active .cc-input__inner {
  outline: 0;
  border-color: #20a0ff
}

.cc-input__inner {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  color: #1f2d3d;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: 0;
  padding: 3px 10px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.cc-input__inner::-webkit-input-placeholder {
  color: #97a8be
}

.cc-input__inner::-moz-placeholder {
  color: #97a8be
}

.cc-input__inner:-ms-input-placeholder {
  color: #97a8be
}

.cc-input__inner::placeholder {
  color: #97a8be
}

.cc-input__inner:hover {
  border-color: #8391a5
}

.cc-input__inner:focus {
  outline: 0;
  border-color: #20a0ff
}

.cc-input__icon {
  position: absolute;
  width: 35px;
  height: 100%;
  right: 0;
  top: 0;
  text-align: center;
  color: #bfcbd9;
  transition: all .3s
}

.cc-input__icon:after {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle
}

.cc-input__icon + .cc-input__inner {
  padding-right: 35px
}

.cc-input__icon.is-clickable:hover {
  cursor: pointer;
  color: #8391a5
}

.cc-input__icon.is-clickable:hover + .cc-input__inner {
  border-color: #8391a5
}

.cc-input--large {
  font-size: 16px
}

.cc-input--large .cc-input__inner {
  height: 42px
}

.cc-input--small {
  font-size: 13px
}

.cc-input--small .cc-input__inner {
  height: 30px
}

.cc-input--mini {
  font-size: 12px
}

.cc-input--mini .cc-input__inner {
  height: 22px
}

.cc-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate
}

.cc-input-group > .cc-input__inner {
  vertical-align: middle;
  display: table-cell
}

.cc-input-group__append, .cc-input-group__prepend {
  background-color: #fbfdff;
  color: #97a8be;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  padding: 0 10px;
  width: 1px;
  white-space: nowrap
}

.cc-input-group--prepend .cc-input__inner, .cc-input-group__append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.cc-input-group--append .cc-input__inner, .cc-input-group__prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.cc-input-group__append .cc-button, .cc-input-group__append .cc-select, .cc-input-group__prepend .cc-button, .cc-input-group__prepend .cc-select {
  display: block;
  margin: -10px
}

.cc-input-group__append button.cc-button, .cc-input-group__append div.cc-select .cc-input__inner, .cc-input-group__append div.cc-select:hover .cc-input__inner, .cc-input-group__prepend button.cc-button, .cc-input-group__prepend div.cc-select .cc-input__inner, .cc-input-group__prepend div.cc-select:hover .cc-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0
}

.cc-input-group__append .cc-button, .cc-input-group__append .cc-input, .cc-input-group__prepend .cc-button, .cc-input-group__prepend .cc-input {
  font-size: inherit
}

.cc-input-group__prepend {
  border-right: 0
}

.cc-input-group__append {
  border-left: 0
}

.cc-textarea {
  display: inline-block;
  width: 100%;
  vertical-align: bottom
}

.cc-textarea.is-disabled .cc-textarea__inner {
  background-color: #eef1f6;
  border-color: #d1dbe5;
  color: #bbb;
  cursor: not-allowed
}

.cc-textarea.is-disabled .cc-textarea__inner::-webkit-input-placeholder {
  color: #bfcbd9
}

.cc-textarea.is-disabled .cc-textarea__inner::-moz-placeholder {
  color: #bfcbd9
}

.cc-textarea.is-disabled .cc-textarea__inner:-ms-input-placeholder {
  color: #bfcbd9
}

.cc-textarea.is-disabled .cc-textarea__inner::placeholder {
  color: #bfcbd9
}

.cc-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 7px;
  line-height: 1.5;
  width: 100%;
  font-size: 14px;
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.cc-textarea__inner::-webkit-input-placeholder {
  color: #97a8be
}

.cc-textarea__inner::-moz-placeholder {
  color: #97a8be
}

.cc-textarea__inner:-ms-input-placeholder {
  color: #97a8be
}

.cc-textarea__inner::placeholder {
  color: #97a8be
}

.cc-textarea__inner:hover {
  border-color: #8391a5
}

.cc-textarea__inner:focus {
  outline: 0;
  border-color: #20a0ff
}
